
.project-card-container {
    color:var(--pink);
    transition:left .7s;
    position:relative;
    left:200px;
}

.left {
    left:0;
}

.project-card-content {
    height:500px;
    border-left:1px solid var(--pink);
    padding:0 .5rem;
    color:var(--pink);
    font-family:Kanit;
}

.image-container {
    height:350px;
    width:400px;
    object-fit: cover;
    position:relative;
    z-index:-1;
    overflow:hidden;
}

.image-container img {
    height:110%;
    width:110%;
    pointer-events: none;
    transition:height 0.5s ease-in-out, width 0.5s ease-in-out;
}

.border-right {
    border-right:1px solid var(--pink);
}

.project-info-container {
    display:flex;
    flex-direction: column;
    gap:2rem;
    padding:1rem;
    position:relative;
    height:100%;
    transition:bottom 0.5s;
    bottom:0;
    background:var(--brown);
}

.project-card-content:hover .project-info-container {
    bottom:125px;
}

.project-card-content:hover img {
    height:100%;
    width:100%;
}

.project-info {
    display:flex;
    justify-content: space-between;
}

.small-font {
    font-size: .8rem;
    font-family:sans-serif;
    font-weight:200;
}

.menu-panel-number {
    height:20px;
    width:10px;
    font-size:15px;
    position:relative;
    z-index:0;
    font-family:Kanit;
}

.project-card-content:hover .info-popover {
    opacity:1;
}

.info-popover {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    gap:3rem;
    opacity:0;
    transition:opacity 0.5s ease-in-out,top 0.5s ease-in-out, visibility 0.5s ease-in-out;
    visibility: hidden;
    position:relative;
    top:50px;
}

.project-card-content:hover .info-popover {
    visibility: visible;
    opacity:1;
    top:0;
}

.info-popover a {
    text-decoration: underline;
    font-weight:700;
}