.image-panel {
    height:500px;
    border-left:1px solid var(--pink);
    padding:0 .5rem;
    color:pink;
    font-family:Kanit;
}

.menu-image-container {
    height:350px;
    width:450px;
    object-fit: cover;
    position:relative;
    z-index:-1
}

.menu-image {
    height:100%;
    width:100%;
    pointer-events: none;
}

.border-right {
    border-right:1px solid var(--pink);
}

.menu-panel-info {
    display:flex;
    justify-content: space-between;
    padding:1rem 2rem;
    position:relative;
    height:100%;
    transition:bottom 0.5s;
    bottom:0;
    background:var(--brown)
}

.image-panel:hover .menu-panel-info {
    bottom:150px;
}

.menu-panel-number {
    height:20px;
    width:10px;
    font-size:15px;
    position:relative;
    z-index:0;
    font-family:Kanit;
}

.container {
    display:flex;
    flex-direction: column;
    color:pink;
}