#carousel-container {
    overflow-x:scroll;
    position:relative;
}

#carousel-stage {
    display:flex;
    gap:8rem;
    user-select: none;
    position:relative;
}

#carousel-container::-webkit-scrollbar {
    height:0;
    width:0;
}

.progress-bar-container {
    padding:0 4rem;
    height:3px;
    display:flex;
    pointer-events: none;
}

.progress-bar-track {
    width:100%;
    background-color: lightgray;
    position:relative;
}

.progress-bar-slider {
    height:100%;
    width:60%;
    background-color: black;
    position:absolute;
    z-index:1;
    display:inline;
    pointer-events: none;
} 