#cursor-takeover-container {
    position:relative;
    width:100%;
    pointer-events:none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    overflow:hidden;
}

#cursor-takeover-container > * {
    pointer-events: auto;
}