.nav-modal {
    position:fixed;
    height:100vh;
    width:100%;
    background-color: var(--brown);
    z-index:2;
}

.modal-header {
    display:grid;
    grid-template-columns: 7fr 1fr;
    height:150px;
    justify-content:center;
    align-items: center;
    padding:var(--main-padding);
    font-family:Kanit;
    line-height: 1rem;
    color:var(--pink);
}

.modal-info {
    display:flex;
    gap:4rem;
    user-select: none;
}

.modal-dot {
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    font-size:1.5rem;
    line-height:.9rem;
}

.modal-exit-container {
    display:flex;
    justify-content: flex-end;
}

.modal-exit {
    cursor:pointer;
    position:relative;
    height:40px;
    width:40px;
    border-radius:100%;
    overflow:hidden;
    font-size:1.5rem;
    font-family:Nunito;
    font-weight:800;
    background:transparent;
    border:2px solid white;
    color:white;
}