ul {
    list-style: none;
}

.carosel-container {
    position:relative;
    height:75vh;
}

.carosel-stage {
    display:flex;
    overflow-x:scroll;
    padding:var(--main-padding);
    gap:8rem;
    
}

.carosel-stage::-webkit-scrollbar {
    height:0;
    width:0;
}

.carosel-panel {
    display:flex;
    flex-direction: column;
    font-size:1.5rem;
    flex-shrink:0;
    width:300px;
}

.carosel-content {
    width:100%;
}

.progress-bar-container {
    position:relative;
    height:3px;
    background-color: lightgray;
    margin:var(--main-padding)
}

.progress-bar-thumb {
    background-color: black;
    position:absolute;
    z-index:1;
    height:3px;
} 