
#carousel-container {
    position:relative;
    overflow:hidden;
}

#carousel-container:hover {
    cursor:none;
}

#carousel-stage {
    display:flex;
    overflow-x:scroll;
    /* padding:var(--main-padding); */
    padding:4rem 6rem;
    gap:8rem;
    user-select: none;
}

#carousel-stage::-webkit-scrollbar {
    height:0;
    width:0;
}

.carousel-panel {
    display:flex;
    flex-direction: column;
    font-size:1.5rem;
    flex-shrink:0;
    width:300px;
    pointer-events: none;
}

.carousel-content {
    width:100%;
}

.progress-bar-container {
    position:relative;
    height:3px;
    background-color: lightgray;
    margin:var(--main-padding);
    pointer-events: none;
}

.progress-bar-thumb {
    width:60%;
    background-color: black;
    position:absolute;
    z-index:1;
    height:3px;
    pointer-events: none;
} 

.company-logo {
    font-style: italic;
}

.company-information {
    margin-top:4rem;
}

.company-anchor {
    pointer-events: auto;
}

.company-anchor:hover {
    cursor:pointer;
}
