ul {
    list-style: none;
}

.carosel-container {
    position:relative;
}

.carosel-container:hover {
    cursor:none;
}

.carosel-stage {
    display:flex;
    overflow-x:scroll;
    padding:var(--main-padding);
    gap:8rem;
}

.carosel-stage::-webkit-scrollbar {
    height:0;
    width:0;
}

.carosel-panel {
    display:flex;
    flex-direction: column;
    font-size:1.5rem;
    flex-shrink:0;
    width:300px;
}

.carosel-panel {
    pointer-events: none;
}

.carosel-content {
    width:100%;
}

.progress-bar-container {
    position:relative;
    height:3px;
    background-color: lightgray;
    margin:var(--main-padding);
    pointer-events: none;
}

.progress-bar-thumb {
    background-color: black;
    position:absolute;
    z-index:1;
    height:3px;
} 

.cursor-takeover-container {
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    pointer-events: none;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.cursor-takeover-cursor {
    position:absolute;
    height:120px;
    width:120px;
    background:#f9cdcd;
    border-radius:100%;
    z-index:1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right:4rem;
}

.company-anchor {
    pointer-events: auto;
}