#cursor-takeover-body {
    background:#efbfbf;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mouse-down {
    height:80px;
    width:80px;
}

.mouse-up {
    height:120px;
    width:120px
}

.anchor-hover {
    opacity:0.7;
    cursor:pointer
}