.cursor-takeover-cursor {
    background:#efbfbf;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.mouse-up {
    height:120px;
    width:120px;
}

.mouse-down {
    height:80px;
    width:80px;
}

.hoverStyle {
    opacity:0.7;
}