#cursor-takeover-body {
    background:#efbfbf;
    border-radius:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    pointer-events:none;
    font-family: 'Kanit', sans-serif;
}

.mouse-down {
    height:80px;
    width:80px;
}

.mouse-up {
    height:120px;
    width:120px
}

.anchor-hover {
    opacity:0.7;
    cursor:pointer
}