
nav {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    position:fixed;
    height:150px;
    width:100%;
    z-index:2;
    font-family: Kanit;
    color:white;
}

.large {
    font-size:1.5rem;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    gap:2rem;
    font-size:1rem;
}

.nav-link {
    display:flex;
    flex-flow: row wrap;
    cursor:pointer;
    position:relative;
}

.nav-link::after {
    content:'';
    border-bottom: .1rem solid;
    width:100%; 
    background-color:white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    position:absolute;
    bottom:0;
}

.nav-link:hover::after {
    transform-origin: left;
    transform:scaleX(1)
}

.nav-more-button {
    background:transparent;
    border:none;
    cursor:pointer;
    height:3rem;
    width:3rem;
}