
nav {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    /* background-color: yellow; */
    position:fixed;
    height:150px;
    width:100%;
    z-index:2;
    font-family: Kanit;
    color:white;
}

.large {
    font-size:1.5rem;
}

.center {
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav-list {
    gap:2rem;
    font-size:1rem;

}

.nav-link {
    display:flex;
    align-items:flex-end;
    cursor:pointer;
}

.nav-item {
    height:max-content;
    width:max-content;
    line-height: 1rem;
    overflow-x:clip;
    
}

button {
    background:transparent;
    border:none;
    cursor:pointer;
}

.nav-more-button {
    height:3rem;
    width:3rem;
}

.underline {
    height:.1rem;
    width:0%;
    background-color: white;
    position:relative;
    pointer-events: none;
    left:0%;
    /* transform:rotate(180deg) */
}

/* .underline::before {
    content:'';
    position:absolute;
    width:100%;
    right:100%;
    height:.1rem;
    background-color:white;
    animation:underline-animation-forwards
} */

.underline-animation-forwards {
    animation:underline-animation-forwards 0.25s;
    animation-fill-mode:forwards;
}

/* .underline-animation-end {
    animation:underline-animation-end 1s;
    animation-fill-mode:forwards;
} */

@keyframes underline-animation-end {
    0% { left:0% }
    10% { left:10% }
    20% { left:20% }
    30% { left:30% }
    40% { left:40% }
    50% { left:50% }
    60% { left:60% }
    70% { left:70% }
    80% { left:80% }
    90% { left:90% }
    100% { left:100% }
}

/* @keyframes underline-animation-end {
    0% { right:100% }
    10% { right:90% }
    20% { right:80% }
    30% { right:70% }
    40% { right:60% }
    50% { right:50% }
    60% { right:40% }
    70% { right:30% }
    80% { right:20% }
    90% { right:10% }
    100% { right:0% }
} */

@keyframes underline-animation-forwards {
    0% { width:0% }
    10% { width:10% }
    20% { width:20% }
    30% { width:30% }
    40% { width:40% }
    50% { width:50% }
    60% { width:60% }
    70% { width:70% }
    80% { width:80% }
    90% { width:90% }
    100% { width:100% }
}