#cursor-takeover-container {
    /* position:relative; */
    height:100%;
    pointer-events:none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    /* border:5px solid black */
}

#cursor-takeover-outer {
    height:160px;
    width:160px;
    display:flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    margin-right:4rem;
    border:1px solid black;
}

#cursor-takeover-body {
    position:absolute;
    height:120px;
    width:120px;
    background:#efbfbf;
    border-radius:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}