#carousel-container {
    overflow-x:scroll;
    pointer-events: none;
}

#carousel-container::-webkit-scrollbar, .carousel-stage::-webkit-scrollbar {
    height:0;
    width:0;
}

.carousel-stage {
    display:flex;
    overflow-x:scroll;
    gap:8rem;
    font-size:1.25rem;
    padding:4rem;
    user-select: none;
}

.progress-bar-container {
    padding:0 4rem;
    height:3px;
    display:flex;
    pointer-events: none;
}

.progress-bar-track {
    width:100%;
    background-color: lightgray;
    position:relative;
}

.progress-bar-slider {
    height:100%;
    background-color: black;
    position:absolute;
    pointer-events: none;
} 