
.carousel-container {
    position:relative;
    overflow:hidden;
}

.carousel-container:hover {
    cursor:none;
}

#carousel-stage {
    display:flex;
    overflow-x:scroll;
    padding:4rem 6rem;
    gap:8rem;
    user-select: none;
}

#carousel-stage::-webkit-scrollbar {
    height:0;
    width:0;
}