#carousel-container {
    overflow-x:scroll;
    pointer-events: none;
}

#carousel-container::-webkit-scrollbar, .carousel-stage::-webkit-scrollbar {
    height:0;
    width:0;
}

.carousel-stage {
    display:flex;
    overflow-x:scroll;
    /* gap:8rem; */
    font-size:1.25rem;
    padding:var(--main-padding);
    user-select: none;
}