#cursor-takeover-container {
    position:relative;
    width:100%;
    pointer-events:none;
    display:flex;
    align-items:center;
    overflow:hidden;
    cursor:none;
}

#cursor-takeover-container > * {
    pointer-events: auto;
}

.cursor-center {
    justify-content:center;
}

.cursor-right {
    justify-content:flex-end;
}