
* {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

ul {
  list-style: none;
}

:root {
  --main-padding:0rem 4rem;
  --pink:#f9cdcd;
  --brown:#252422;
}

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  background: transparent url('http://assets.iceable.com/img/noise-transparent.png') repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation .2s infinite;
  opacity: .9;
  visibility: visible;
  pointer-events: none;
}

@keyframes bg-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

a {
  pointer-events: auto;
  cursor:pointer;
  width:max-content;
}

main {
  display:flex;
  flex-direction:column;
  gap:7rem;
}

.background-brown {
  background-color: var(--brown);
}

.title {
  margin-left:6rem;
}

.cursor-wrapper {
  margin-top:4rem;
}
