.progress-bar-container {
    padding:var(--main-padding);
    height:3px;
    display:flex;
    pointer-events: none;
}

.progress-bar-track {
    width:100%;
    background-color: lightgray;
    position:relative;
}

.progress-bar-slider {
    height:100%;
    background-color: black;
    position:absolute;
    pointer-events: none;
} 